In [1]:
# Import dependencies
import pandas as pd

In [2]:
# Create variable for csv file
vine_data = "vine_table.csv"

In [3]:
# Import csv file as a dataframe and show data
vine_table_df = pd.read_csv(vine_data)
vine_table_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R3T6KGTZ6FOC9Q,5.0,0.0,0.0,N,Y
1,R33GYOCUY6HTE7,5.0,0.0,0.0,N,Y
2,R2SFQJ7U345LR2,3.0,2.0,2.0,N,Y
3,R8Y006W6WVE9X,3.0,0.0,0.0,N,Y
4,R9ZZ9JEZ60HDQ,4.0,3.0,4.0,N,Y

In [4]:
# Create a new dataframe to show only reviewers where total_votes > 20
total_votes_df = vine_table_df.loc[vine_table_df['total_votes'] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
219,R2BZ1FKJ03GVQH,1.0,3.0,22.0,N,N
273,RK79WQXA8Z6GH,5.0,21.0,44.0,N,N
605,R3MFN99WDPY8VP,5.0,17.0,21.0,N,Y
910,R29ZVGK925XUDN,1.0,42.0,44.0,N,Y
995,RGVO3LIY08BU9,5.0,40.0,44.0,N,Y

In [5]:
# Filter the DataFrame to retrieve rows where helpful_votes / total_votes > 50%
useful_votes_df = total_votes_df.loc[(total_votes_df['helpful_votes'] / total_votes_df['total_votes']) >= 0.5]
useful_votes_df.head(30)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
605,R3MFN99WDPY8VP,5.0,17.0,21.0,N,Y
910,R29ZVGK925XUDN,1.0,42.0,44.0,N,Y
995,RGVO3LIY08BU9,5.0,40.0,44.0,N,Y
1081,R1QRX65VZ41GPH,4.0,24.0,25.0,N,Y
1248,R185OYTQXCVHL2,3.0,32.0,35.0,N,Y
1307,R237WXSAAY9PY,1.0,21.0,22.0,N,Y
1397,ROYBM78607WW2,5.0,18.0,20.0,N,Y
1461,R1C0RSUXL30CP6,4.0,21.0,22.0,N,Y
1990,RICZ7KM8SX6LA,5.0,21.0,21.0,N,Y
2103,R2MWMMM0TH9EVX,1.0,22.0,23.0,N,Y
2323,R1YBQP5K6IT2L1,3.0,40.0,43.0,N,Y
2487,R38XNEXKY7BT6W,5.0,91.0,95.0,N,Y
2672,R1KCU285A2BWO5,3.0,36.0,39.0,N,Y
2844,R18FW2B6UTUTD1,1.0,31.0,37.0,N,N
2964,R1LJRLSD2F5NBZ,5.0,215.0,219.0,N,N
2992,R3MNVWS4D6O0UI,1.0,94.0,109.0,N,N
3011,RU6WETR3NWHSC,4.0,33.0,40.0,N,Y
3096,RUMZDJVEMWX6P,5.0,44.0,50.0,N,N
3126,R35ANMZL1I47WI,5.0,33.0,35.0,N,Y
3262,R1XR5J7P66LCQU,5.0,24.0,24.0,N,Y
3378,R1TMRYHPF850UT,5.0,21.0,25.0,N,Y
3470,R3TASQWQ9AQWAB,1.0,14.0,26.0,N,N
3580,RP51PXJBOLD2C,5.0,25.0,26.0,N,Y
3758,R3DWR6XXZD5N8,2.0,20.0,25.0,N,Y
3924,R3V1YN6YS4I2EI,5.0,21.0,23.0,N,Y
3999,R39JLPFB0HMZBP,1.0,23.0,28.0,N,Y
4158,R1GRADMMPTSUY4,5.0,52.0,58.0,N,Y
4335,R21KO2MV50ULRJ,5.0,19.0,20.0,N,Y
4452,R1RWBVENG6ERTW,4.0,30.0,30.0,N,Y
4507,R11G3IGRR5MBER,5.0,23.0,23.0,N,Y

In [6]:
# Create a DataFrame where all the reviews are part of the Vine program (paid reviews)
vine_reviews = useful_votes_df.loc[useful_votes_df['vine'] == 'Y']
vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
6416,R2MIUEQIMIYLJP,4.0,45.0,53.0,Y,N
8882,RII64BLIO97LG,3.0,190.0,204.0,Y,N
9185,RAAP3MN3TX01M,3.0,81.0,93.0,Y,N
19914,R1R9J8TYCYT5VZ,5.0,25.0,25.0,Y,N
20524,R2BXM4RPCYEJ2Q,4.0,23.0,27.0,Y,N

In [7]:
# Create a DataFrame where all the reviews are NOT part of the Vine program (unpaid reviews)
non_vine_reviews = useful_votes_df.loc[useful_votes_df['vine'] == 'N']
non_vine_reviews.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
605,R3MFN99WDPY8VP,5.0,17.0,21.0,N,Y
910,R29ZVGK925XUDN,1.0,42.0,44.0,N,Y
995,RGVO3LIY08BU9,5.0,40.0,44.0,N,Y
1081,R1QRX65VZ41GPH,4.0,24.0,25.0,N,Y
1248,R185OYTQXCVHL2,3.0,32.0,35.0,N,Y

In [8]:
# Determine total number of paid reviews
len(vine_reviews)

386

In [9]:
# Determine total number of unpaid reviews
len(non_vine_reviews)

48717

In [10]:
# Calculate the number of five star reviews for non vine reviews
five_star_non_vine_reviews = non_vine_reviews.loc[non_vine_reviews['star_rating'] == 5]
len(five_star_non_vine_reviews)

24026

In [11]:
# Calculate the number of five star reviews for vine reviews
five_star_vine_reviews = vine_reviews.loc[vine_reviews['star_rating'] == 5]
len(five_star_vine_reviews)

176

In [12]:
# Calculate the percentage of five star reviews for non vine reviews
len(five_star_non_vine_reviews) / len(non_vine_reviews) * 100

49.317486708951705

In [13]:
# Calculate the percentage of five star reviews for vine reviews
len(five_star_vine_reviews) / len(vine_reviews) * 100

45.59585492227979